---
import { SITE } from "../config/site";

const year = new Date().getFullYear();
---

<footer class="site-footer">
  <div>
    © {year} {SITE.author}. Built with <a href="https://astro.build/">Astro</a>.
  </div>
</footer>

