---
import BaseLayout from "../layouts/BaseLayout.astro";
import { SITE } from "../config/site";
---

<BaseLayout title="关于">
  <h1>关于</h1>
  <p>
    这里是 {SITE.author} 的个人博客。你可以在这里写简介、经历、联系方式等内容。
  </p>
</BaseLayout>

